version: "3.8"

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=mlops
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_namenode_datanode_registration_ip_hostname_check=false
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - namenode:/hadoop/dfs/name
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9870"]
      interval: 10s
      timeout: 5s
      retries: 15

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_datanode_use_datanode_hostname=false
      - HDFS_CONF_dfs_namenode_datanode_registration_ip_hostname_check=false
    depends_on:
      - namenode
    volumes:
      - datanode:/hadoop/dfs/data

  hive-metastore-db:
    image: postgres:13
    container_name: hive-metastore-db
    environment:
      POSTGRES_DB: metastore
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hive

  hive-metastore:
    image: bde2020/hive:2.3.2-postgresql-metastore #b4d0e4c4a8f0
    container_name: hive-metastore
    environment:
      - HIVE_METASTORE_DB_TYPE=postgres
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    volumes:
      - ./hive-site.xml:/opt/hive/conf/hive-site.xml
    depends_on:
      namenode:
        condition: service_healthy
      datanode:
        condition: service_started
      hive-metastore-db:
        condition: service_started
    ports:
      - "9083:9083"
    #command: sh -c "while ! nc -z hive-metastore-db 5432; do sleep 2; done && if schematool -info -dbType postgres >/dev/null 2>&1; then echo 'Hive schema already exists.'; else echo 'Initializing Hive schema...'; schematool -initSchema -dbType postgres; fi && /opt/hive/bin/hive --service metastore"
    command: /opt/hive/bin/hive --service metastore
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/9083'"]
      interval: 10s
      timeout: 5s
      retries: 15
    restart: on-failure

  hive-server:
    image: bde2020/hive:2.3.2
    container_name: hive-server
    environment:
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://hive-metastore-db/metastore
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    depends_on:
      hive-metastore:
        condition: service_healthy
    ports:
      - "10000:10000"
    command: /opt/hive/bin/hiveserver2

  spark-master:
    image: apache/spark:3.4.1
    container_name: spark-master
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080"
      - "7077:7077"

  spark-worker:
    image: apache/spark:3.4.1
    container_name: spark-worker
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
    depends_on:
      - spark-master

  airflow-db:
    image: postgres:13
    container_name: airflow-db
    environment:
      POSTGRES_DB: airflow
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow

  airflow-init:
    image: apache/airflow:2.7.2
    container_name: airflow-init
    depends_on:
      - airflow-db
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      _AIRFLOW_WWW_USER_USERNAME: admin
      _AIRFLOW_WWW_USER_PASSWORD: admin
      _AIRFLOW_WWW_USER_FIRSTNAME: Admin
      _AIRFLOW_WWW_USER_LASTNAME: User
      _AIRFLOW_WWW_USER_EMAIL: admin@example.com
    #command: airflow db init
    command: bash -c "airflow db migrate && airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin"



  airflow-webserver:
    image: apache/airflow:2.7.2
    container_name: airflow-webserver
    depends_on:
      #- airflow-init
      - airflow-db
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
    ports:
      - "8081:8080"
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.7.2
    container_name: airflow-scheduler
    depends_on:
      #- airflow-webserver
      #- airflow-init
      - airflow-db
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db/airflow
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
    command: scheduler

  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    ports:
      - "9001:9001"
      - "9002:9000"
    volumes:
      - minio:/data
  
  jupyter:
    build:
      context: .
      dockerfile: dockerfile.ju-spark
    container_name: jupyter
    depends_on:
      spark-master:
        condition: service_started
      hive-metastore:
        condition: service_healthy
      namenode:
        condition: service_started
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/opt/workspace/notebooks
      - ./hive-site.xml:/opt/spark/conf/hive-site.xml

volumes:
  namenode:
  datanode:
  minio:
